.page_container {
  width: 90%;
  margin: 10px auto 20px;
  display: flex;
  flex-direction: column;
}

.account_container {
  color: #00334e;
  margin: 0px 10px;
  font-size: 22px;
}

.account_header {
  font-weight: bold;
  font-size: 28px;
}

.account_user {
  display: flex;
  flex-direction: row;
}

.account_netid {
  padding-right: 80px;
}

.account_bio {
  padding: 18px 0px 0px 0px;
}

.bio_top {
  display: flex;
  flex-direction: row;
}

.bio_form_label {
  padding-right: 10px;
}

.success_text {
  color: green;
  padding-left: 15px;
  font-size: 20px;
}

.failed_text {
  color: red;
  padding-left: 15px;
  font-size: 20px;
}

.completed_container {
  color: #00334e;
  margin: 0px 10px;
  font-size: 22px;
}

.completed_header {
  font-weight: bold;
  font-size: 28px;
}

.completed_empty_main {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.program {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.program_label {
  padding-right: 10px;
  padding-top: 2px;
}

.type_label {
  padding-right: 10px;
  padding-top: 2px;
}

.program_select {
  padding-right: 10px;
}

.no_plan_text {
  padding-bottom: 10px;
}

.completed_program {
  display: flex;
  flex-direction: row;
}

.completed_buttons {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.completed_add_button {
  padding-right: 20px;
}

.completed_name {
  padding-right: 40px;
}

.completed_type {
  padding-left: 40px;
}

.semester_container {
  color: #00334e;
  margin: 0px 10px;
  font-size: 22px;
}

.semester_header {
  font-weight: bold;
  font-size: 28px;
}

.sems_empty_main {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.sems_add_button {
  padding-right: 20px;
}

.semester_buttons {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.no_sem_text {
  padding-bottom: 10px;
}

.course_top_row {
  display: flex;
  flex-direction: row;
}

.indiv_course {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.hrstyle_main {
	border-top: 3px double #00334e;
  height: 2px;
  font-weight: 400;
}

.hrstyle_separator {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #00334e;
  color: #00334e;
  text-align: center;
  padding-bottom: 5px;

}
