.jumbo {
  background-color: #f0f5f9;
  text-align: center;
  color:black;
}

.heading {
  margin-top: 120px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 44px;
}

.form {
  margin: 60px auto 40px;
  width: 50%;
}

.major-select {
  width: 50%;
  margin: 10px auto;
  text-align: left;
}

.plans {
  width: 75%;
  margin: 10px auto;
}

.btn {
  margin: 10px auto;
  text-align: center;
}

.search-bar {
  margin-top: 20px;
}
